{% extends 'home.html' %}

{% block content %}
  <h1>Experience List</h1>
  <div class="experiences">
    {% for experience in experiences %}
      <div class="experience">
        <img src="../{{ experience.companyLogo }}" alt="{{ experience.companyName }} logo"/>
        <span class="company">
          {{ experience.companyName }} - {{ experience.jobTitle }} - {{ experience.jobType }}
          ({{ experience.startDate|date:"d M Y" }} - {% if experience.endDate %} {{ experience.endDate }} {% else %} Still{% endif %})
        </span>
        <p>{{ experience.description }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}