{% extends 'base.html' %} {% block content %}

<div class="background-css">
  <div class="container">
    <div class="flex flex-col">
      <div class="flex flex-col items-center justify-center h-screen gap-8">
        <img
          class="object-cover w-80 h-80 rounded-full shadow-lg aspect-square"
          src="../media/assets/profile.jpg"
          alt="profile"
        />
        <h1 class="text-[42px] font-bold text-gray neon-text">Ali Kerem Ata</h1>
        <h2 class="text-2xl font-semibold text-gray">Full Stack Developer</h2>
        <div class="text-center">
          <p class="text-xl font-semibold text-gray">
            Welcome! You can find my personal information, projects and career
            history on this website. If you desire to work with me please
            contact me.
          </p>
        </div>
      </div>
      <div
        class="relative flex items-center justify-center w-full h-screen px-8 text-4xl font-medium text-center lg:text-6xl text-gray"
      >
        {% if generalSettings %} {% for post in generalSettings %}
        <p>{{ post.content }}</p>
        {% endfor %} {% else %}
        <p>No posts available</p>
        <p>{{generalSettings}}</p>
        {% endif %}
      </div>

      <div class="flex flex-col items-center justify-center gap-12 pb-24">
        <div
          class="mb-24 flex flex-col w-full gap-12 lg:text-start text-center"
        >
          <h2 class="font-light text-7xl text-semigray">Frontend</h2>
          <p class="text-lg font-medium text-gray">
            I'm working as a Frontend Developer for 3 years. I think writing
            Frontend is perfect for reducing stress!
          </p>
        </div>
        <div class="flex flex-col w-full gap-12 lg:text-start text-center">
          <h2 class="font-light text-7xl text-semigray">Backend</h2>
          <p class="text-lg font-medium text-gray">
            Actually, I see myself more as a Backend Developer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
